// site properties
@import '../abstracts/variables';
// mixins
@import '../abstracts/mixins';


@media screen and (max-width:1600px) {
    .banner {
        min-height: 650px;

        &-content {
            padding-top: 183px;
        }
    }
}

@media screen and (max-width:1439px) {
    .banner {
        min-height: 750px;

        &-menu {
            height: 75px;
            transition: height 0s 1.2s;

            &__list-wrap {
                transform: translateY(-150%);
                transition: transform 0.6s ease;
            }

            &:before {
                transform: translateX(-100%);
                transition: transform 1s 0.5s ease;
            }
            &.opened {
                z-index: 50;
                height: 100%;
                transition: height 0s;

                .banner-menu__list-wrap {
                    transform: translateY(0);
                    transition: transform 1s 0.5s ease;
                }
                &:before {
                    transform: translateX(0);
                    transition: transform 1s ease;
                }
            }
            &__btn {
                cursor: pointer;
                position: relative;
                z-index: 10;
            }
        }

        .sign-up-form {
            width: 100%;
            max-width: 734px;
            background-image: url("data:image/svg+xml,%3Csvg width='768' height='289' viewBox='0 0 768 289' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M67.2445 42.0751C67.6893 39.7118 69.7534 38 72.1582 38H695.822C698.227 38 700.291 39.7117 700.736 42.0747L749.884 303.075C750.464 306.153 748.103 309 744.971 309H23.029C19.8969 309 17.5359 306.153 18.1153 303.075L67.2445 42.0751Z' fill='%23F0F0F0'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='-16.9727' y='0' width='801.945' height='341' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='-3'/%3E%3CfeGaussianBlur stdDeviation='17.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.241667 0 0 0 0 0.225762 0 0 0 0 0.175208 0 0 0 0.07 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");

            &__title {
                text-align: center;
            }
            &__wrap {
                display: block;

                input {
                    display: inline-block;
                    max-width: 250px;
                    margin-right: 0;

                    &:first-child {
                        margin-right: 27px;
                    }
                }
                button {
                    display: block;
                    position: relative;
                    line-height: 46px;
                    max-width: 250px;
                    margin: 30px auto 0;

                    &:before, &:after {
                        position: absolute;
                        content: '';
                        top: 50%;
                        width: 120px;
                        height: 1px;
                        background-color: #B6AF9A;
                    }
                    &:before {
                        left: -140px;
                    }
                    &:after {
                        right: -140px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .main-menu-popup {
        display: block;
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        visibility: hidden;
        transition: visibility 0s 0.7s;

        .overlay {
            z-index: 0;
            position: fixed;
            opacity: 0;
            visibility: hidden;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(33, 33, 33, 0.9);
            transition: opacity 0.5s ease, visibility 0s 0.5s;
        }
        .main-menu-wrap {
            min-height: 560px;
            position: relative;
            height: 100%;
            width: 247px;
            z-index: 50;
            background-color: #fff;
            padding: 31px 20px 35px;
            transform: translateX(-105%);
            transition: transform 0.7s ease;

            .search-btn {
                margin-bottom: 38px;
                margin-left: auto;
                max-width: 30px;

                svg {
                    path {
                        fill: $black;
                    }
                }
            }
            .join-btn {
                display: block;
                font-family: Montserrat;
                font-weight: 600;
                font-size: 15px;
                height: 46px;
                line-height: 44px;
                text-align: center;
                width: 207px;
                color: $black;
                border: 1px solid $black;
                border-radius: 3px;
            }
            .main-menu {
                margin-top: 35px;

                li {
                    margin-bottom: 30px;

                    a {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: #212121;

                        &:hover {
                            color: $gold;
                        }
                    }
                }
            }
            .socials {
                position: absolute;
                left: 20px;
                bottom: 35px;

                li {
                    max-width: 20px;
                    display: inline-block;
                    margin-right: 5px;

                    a {
                        opacity: 0.4;

                        svg {
                            max-width: 100%;

                            path {
                                fill: $black;
                            }
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.opened {
            visibility: visible;
            transition: visibility 0s;

            .overlay {
                opacity: 1;
                visibility: visible;
                transition: opacity 0.5s ease, visibility 0s;
            }
            .main-menu-wrap {
                transform: translateX(0);
            }
        }
    }

    .banner {
        &-menu {
            position: absolute;
            top: 0;
            left: 20px;
        }
        &-content {
            display: block;
            width: 100%;
            padding-top: 168px;

            &__offer {
                max-width: 660px;
                margin: 0 auto;
            }
            &__subtitle {
                max-width: 515px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .banner {
        min-height: 980px;

        &-menu {
            &__btn {
                width: 280px;

                svg {
                    margin-left: 102px;
                }
            }
        }
        &-content {
            padding-top: 148px;

            &__title {
                font-size: 30px;
                line-height: 37px;
            }
        }
        .sign-up-form {
            border-radius: 3px 3px 0 0;
            background: #fff;
            padding: 40px 20px 35px;

            input {
                max-width: 100%;
                width: 100%;

                &:first-child {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
            button {
                max-width: 100%;
                width: 100%;

                &:before, &:after {
                    display: none;
                    content: '';
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .banner {
        min-height: 1050px;
    }
}